body {
  background-color:whitesmoke;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button{
  width:80px;
  height:20px;
  background-color:rgb(124, 172, 238);
  color:#fff;
}