<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>首页</title>
        <link rel='stylesheet' href='/stylesheets/main.css' type="text/css" />
    </head>
    <%- include('./layout.html'); %>
    <body>
        <%- include('./leftblock.html'); %>
        <div style="margin-left: 170px;">
            <h1>欢迎回来:<%= username %></h1>
            <p>这是<%= username %>的主页</p>
            <h2>我的个人描述</h2>
            <div style="width: 300px; background-color: lemonchiffon;">
                <p><%= dscrpt %></p>
            </div>
        </div>
        <%- include('./footer.html'); %>
    </body>
</html>