<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
        <title><%= title %></title>
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script>
            function check(data){
                if(data.password==''){
                    alert("请输入密码");
                    return false;
                }else if(data.password2==''){
                    alert("请再次输入密码");
                    return false;
                }else if(data.password!=data.password2){
                    alert("两次密码输入不一致");
                    return false;
                }
                else if(data.password.length<6 || data.password.length>20){
                    alert("密码需要在6-20个字符之间");
                    return false;
                }
                return true;
            }
            function OK(){
                var req = {
                    'password':$("input:nth-of-type(1)").val(),
                    'password2':$("input:nth-of-type(2)").val()
                }
                if(check(req)){
                    $.ajax({
                        type: "POST",
                        url: "/revise/show",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(req),
                        dataType: "json",
                        success:function (message) {
                            console.log(message);
                            if(message['success']==1){
                                alert("修改成功");
                                window.location.href = '/logout';
                            }else{
                                alert(message['msg']);
                            }
                        },
                        error:function (message) {
                            alert("修改失败");
                        }
                    });
                }
            }
            function returnindex(){
                window.location.href = '/';
            }
        </script>
    </head>
    <body>
        <h1><%= title %></h1>
        <form id='form3'>
            <p>新密码（6-20位）:</p>
            <input class='input' type="password" name="password">
            <p>再次输入密码：</p>
            <input class='input' type="password" name="password2">
            <br><br>
            <input class="button" type="button" value="确认" style="float: left; " onclick="OK()">
            <input class="button" type="button" value="返回" style="float: right; " onclick="returnindex()">
        </form>
    </body>
</html>